*.py linguist-language=Python
*.js linguist-language=JavaScript
*.json linguist-language=JavaScript
*.java linguist-detectable=false
*.sh linguist-language=Shell
*.go linguist-language=Go
*.html linguist-language=HTML
*.css linguist-language=CSS
*.md linguist-documentation
*.txt linguist-documentation

