.DS_Store

# Logs
logs
*.log

# Dependency directories
node_modules
bower_components

#webstorm
.idea
nbproject
ng-pay.iml
.vscode/settings.json
deploy

*.class

Python/*.py
Python/*.txt
Python/*.zip
Python/*.java