.DS_Store

# Logs
logs
*.log
*.pyc

# Dependency directories
node_modules
bower_components

#webstorm
.idea
nbproject
ng-pay.iml
.vscode/settings.json
deploy

*.class

war-and-peace/*.txt
war-and-peace/*.zip

# Half Done Problems
binary-tree-longest-consecutive-sequence.py
number-of-longest-increasing-subsequence.py
json-parse/*.json
PostgreSQL/data/*

TaskRetry/env