# .gitattributes file which reclassifies `.js` files as Java:
*.py linguist-language=Python
*.js linguist-language=JavaScript
*.json linguist-language=JavaScript
*.java linguist-language=Java
*.sh linguist-language=Shell
*.go linguist-language=Go