*.py linguist-language=Python
*.js linguist-language=JavaScript
*.json linguist-language=JavaScript
Java/*.java linguist-language=Java
Bash_Scripts/*.sh linguist-language=Shell
*.go linguist-language=Go
*.html linguist-language=HTML
*.css linguist-language=CSS
*README.md linguist-documentation
*.txt linguist-documentation

